{{define "inicio"}}
{{template "cabecera"}}

<div class="h-screen flex justify-center items-center flex-col">
<table class="w-9/12 table-auto border border-gray-200 rounded shadow mx-auto my-8 text-center rounded-lg">
  <thead>
    <tr class="bg-gray-100 text-gray-600 text-center font-medium">
      <th class="px-4 py-2">ID</th>
      <th class="px-4 py-2">MARCA</th>
      <th class="px-4 py-2">MODELO</th>
      <th class="px-4 py-2">PRECIO</th>
      <th class="px-4 py-2">action</th>
    </tr>
  </thead>
  <tbody>
    {{range .}}
      <tr>
        <td class="border border-gray-200 px-4 py-2">{{.ID}}</td>
        <td class="border border-gray-200 px-4 py-2">{{.Marca}}</td>
        <td class="border border-gray-200 px-4 py-2">{{.Modelo}}</td>
        <td class="border border-gray-200 px-4 py-2">{{.Precio}}</td>
<td class="py-2 px-4 border-b flex items-center space-x-2">
    <form action="/eliminar" method="post" class="inline">
        <input type="hidden" name="id" value="{{.ID}}">
        <button type="submit" class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-3 rounded">
            Eliminar
        </button>
    </form>
    <form action="/editar" method="get">
        <input type="hidden" name="id" value="{{.ID}}">
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-3 rounded">
            Editar
        </button>
    </form>
</td>
      </tr>
    {{end}}
    </tbody>
</table>
<div class="flex items-center flex-row gap-6 justify-center my-6">
<button><a name="NuevoTelefono" id="NewPhone" class="px-4 py-2 bg-blue-500 text-white font-bold rounded-md shadow hover:bg-blue-700" href="/agregar" role="button">Agregar telefono</a></button>
</div>

</div>


{{template "pie"}}
{{end}}
