{{define "pie"}}
    </div>

    <footer class="bg-gray-500 text-white p-2 flex items-end justify-center w-full">
  <p>&copy; Nuestro proyecto hecho por Luis y Yoander</p>
</footer>
  </body>
</html>
{{end}}